/* General page styling */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

    flex-direction: column;
    justify-content: flex-end; /* Position content at the bottom */
    align-items: center;
    min-height: 100vh;
      /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  #game-container {
    position: relative;
    width: 1280px;
    height: 800px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .scoreboard-container {
    position: absolute;
    width: 100%; /* Match the width of the background */
    display: flex;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
    z-index: 5;
  }
  .scoreboard {
    width: 455px; /* Full width of container */
    height: 62px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    /* text-align: center; */
    border-radius: 10px;
    background-image: url('../universal/scoreboard.png');
    display: flex;
  }
  
  .speed {
    font-size: 2em;
    margin: 10px 50px;
  }
  
  .break{
    font-size: 2em;
    margin: -10px 45px;
  }
  
  .treat{
    font-size: 2em;
    margin: -10px 45px;
  }
  
  /* Cat element styling */
  #cat {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('meow.png'); /* Path to the cat image */
    background-size: contain;
    background-repeat: no-repeat;
    top: 200px;
    left: 200px;
  }
  
  /* Canvas styling */
  #gameCanvas {
    width: 1280px;
    height: 800px;
    background-color: #7c6c61;
    border-radius: 10px;
  }
  
  /* Breakable object styling */
  .breakableObject {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: opacity 0.5s, transform 0.5s;
  }
  /* Smokey effect */
  @keyframes smokeEffect {
    0% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0px);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
      filter: blur(5px);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
      filter: blur(10px);
    }
  }
  
  .smokey {
    animation: smokeEffect 1s forwards;
  }
  
  /* Initial positions for objects */
  #object1 { 
    top: 632px;
    left: 825px;
    height: auto;
    width: auto;
  }
  
  #object2 {
    top: 615px;
    left: 140px;
    height: auto;
    width: auto;
  }
  
  #object3 {
    top: 49px;
    left: 1175px;
    height: auto;
    width: auto;
  }
  
  #object4 {
    top: 306px;
    left: 1178px;
    height: auto;
    width: auto;
  }
  
  #object5 {
    top: 185px;
    left: 1183px;
    height: auto;
    width: auto;
  }
  
  #door {
    top: 698px;
    left: 1177px;
    height: auto;
    width: auto;
  }
  #door2 {
    top: 770px;
    left: 909px;
    height: auto; 
    width: auto;
  }
  
  #object6 {
    top: 300px;
    left: 1145px;
    height: auto;
    width: auto;
  }
  
  #object7 {
    top: 108px;
    left: 722px;
    height: auto;
    width: auto;
  }

  #object10 {
    top: 701px;
    left: 57px;
    height: auto;
    width: auto;
  }

  #object11 {
    top: 154px;
    left: 895px;
    height: auto;
    width: auto;
  }
  #object12 {
    top: 80px;
    left: 130px;
    height: auto;
    width: auto;
  }

  #grandma {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../universal/gram.png'); /* Path to the cat image */
    background-size: contain;
    background-repeat: no-repeat;
    top: 500px;
    left: 500px;
  }