/* General page styling */
body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#game-container {
  position: relative;
  width: 1280px;
  height: 800px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Cat element styling */
#cat {
  position: absolute;
  width: 60px;
  height: 100px;
  background-image: url('meow.png'); /* Path to the cat image */
  background-size: contain;
  background-repeat: no-repeat;
  top: 50px;
  left: 50px;
}

/* Canvas styling */
#gameCanvas {
  width: 1280px;
  height: 800px;
  background-color: #7c6c61;
  border-radius: 10px;
}

/* Door styling */
img[id^="door"] {
  position: absolute;
  width: auto;
  height: auto;
}

/* Positions for doors */
#door1 { top: 160px; left: 447px; width: 10px; height: 55px;}
#door2 { top: 475px; left: 448px; width: 10px; height: 55px;}
#door3 { top: 625px; left: 822px; width: 10px; height: 55px; }
#door4 { top: 533px; left: 1100px; width: 55px; height: 10px; }
#door5 { top: 366px; left: 870px; width: 55px; height: 10px; }
#door6 { top: 230px; left: 822px; width: 10px; height: 55px; }
#door7 { top: 60px; left: 720px; width: 55px; height: 10px;}
#door8 { top: 60px; left: 520px; width: 55px; height: 10px;}

#stairs {
  position: absolute;
  width: auto; 
  height: auto; 
  top: 128px; 
  left: 606px;
}


#grandma {
  position: absolute;
  width: 60px;
  height: 100px;
  background-image: url('../universal/gram.png'); /* Path to the cat image */
  background-size: contain;
  background-repeat: no-repeat;
  top: 500px;
  left: 500px;
}
